body {
  background-color: rgb(92, 0, 179);
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

body * {
  margin: 0;
  padding: 0;
}

body > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

body > div > div {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
