body {
  background-color: #2f2fa2;
  color: #f64c72;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

body * {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 0 0 0.5em;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content > div {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  border: solid white 2px;
  border-radius: 14px;
  margin: 4px;
  padding: 0.5em 0.5em 1em;
}

.content h2 {
  text-align: center;
}

nav {
  position: absolute;
  align-self: flex-start;
  color: rgb(153, 218, 218);
}

nav:hover {
  color: rgb(218, 218, 218);
  cursor: pointer;
}

ul {
  list-style: none;
}

ul.center-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

li {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0.5em 0 0;
}

li span:first-child {
  width: 55%;
  text-align: end;
}

li span:last-child {
  width: 45%;
  text-align: start;
}

.friend-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.friend-list > ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.gamer {
  color: rgb(153, 218, 218);
}

.gamer:hover {
  color: rgb(218, 218, 218);
  cursor: pointer;
}

.game {
  color: rgb(153, 218, 218);
}

.game:hover {
  color: rgb(218, 218, 218);
  cursor: pointer;
}
